ul#list {
  display: flex;
  flex-flow: wrap row;
  justify-content:space-evenly ;
  max-height: 10vh; 
  max-width: 100%;
  overflow: auto;
  gap:1em;
  list-style-type: none;
  font-size: 30px;
}


#time{
  display: flex;
  justify-content: center;
  align-items: center;

}
#buttons{
  display: flex;
  justify-content: center;
  align-items: center;
  gap:1em;
}

