ul {
  display: flex;
  flex-flow: wrap row;
  max-height: 15vh; /* Limit height to whatever you need */
  gap:1em;
  list-style-type: none;
  
}

.moduleBox{

}
#time{
  display: flex;
  justify-content: center;
  align-items: center;

}
#buttons{
  display: flex;
  justify-content: center;
  align-items: center;
  gap:1em;
}

#list{
  display: flex;
  justify-content:space-evenly ;
  overflow-x: hidden;
  overflow-y: auto;
  gap:.5em;
  padding:1%;
  font-size: 30px;

}

