body{
  background: #283F45;
  color:#95C1CC;
  font-family: Arial, Helvetica, sans-serif;
}

button{
  border: 0px solid rgb(187, 204, 0);
  font-family: "system-ui";
  font-size: 14px;
  color: rgb(255, 255, 255);
  padding: 10px 30px;
  transition: 2s;
  width: 335px;
  box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
  border-radius: 11px;
  background: rgb(5, 185, 230);
  --hover-borderSize: 0px;
}
.center{
  display: flex;
  justify-content: center;
  align-items: center;
}
.even{
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
 }
 h1{
  font-size: 50px;
 }

 .timers{
  display:flex;
  justify-content:space-evenly;
 }
 #one{
  width:25%;
  height:25%;
  min-height: 25%;
  padding: 2%;
  
 }
 #two{
  width:25%;
  height:25%;
  min-height: 25%;
  padding: 2%;
 
 }

