body{
  background: #283F45;
  color:#95C1CC;
  font-family: Arial, Helvetica, sans-serif;
}

button{
  border: 0px solid rgb(187, 204, 0);
  font-family: "system-ui";
  font-size: 14px;
  color: rgb(255, 255, 255);
  padding: 10px 30px;
  transition: 2s;
  width: 335px;
  box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
  border-radius: 11px;
  background: rgb(5, 185, 230);
  --hover-borderSize: 0px;
}

 h1{
  font-size: 50px;
  
 }
.center{
 text-align: center;
}

 .timer{
width: 100%;
  
 }
 
 #page{
  padding-left:5%;
  padding-right:5%;
  display: flex;
  justify-content: left;
  gap:5%;
 }
 #timers{
  width: 20%;
  padding-left:2%;
  padding-right:2%;
 

 }
 #write-up{
  width: 80%;
  padding-left:2%;
  padding-right:2%;

  
 }


